/*                                                                                            GENERAL CSS       */

/* Style of the whole site html and body */
html, body {
  text-align: center;
  height: 100%;
}

/* Style of heading 1 across the whole site */
h1 {
    text-align: center;
    text-decoration: underline;
}

/* Style of heading 3 across the whole site */
h3 {
    text-align: center;
    text-decoration: underline;
}

/* Header Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

/* Style the headings on the header */
.header h1 {
  font-size: 50px;
}

/* Style of the tables being used mainly for the music page */
table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0 auto;
}

/* Style the table headers */
th, td {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ddd;
}

/* Style the table rows */
th {
  background-color: #FDDF95;
}

/* Style the footer on each page */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

/*                                                                                             Style the top navigation bar          */
.topnav {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: center; /* Align items horizontally at the center */
}

/* Style the topnav links */
.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 50px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*                                                                                              Style Boxes for mutiple pages        */

/* Game Page Boxes */
.row {
  width: 100%;
  text-align: center;
}

.columns {
  width: 33%;
  min-width: 280px;
  vertical-align: top;
  display: inline-block;
  background-color: #645f5c;
  color: #fff;
  margin-bottom: 20px;
  margin-right: 20px;
  border-radius: 10px;
  position: relative;
}

/* Style the images in the boxes */
.columns img {
  width: 200px;
  height: 300px;
  border: 3px solid #000000;
  float: left;
  border-radius: 10px 0px 0px 10px;
}

/* Style the links of text in the boxes */
.columns a {
  position: absolute;
  bottom: 10px;
  left: 185px;
  right: 0; /* Added to stretch the anchor element */
}

/* Style the heading 2 in the boxes */
.columns h2 {
  margin-bottom: 20px;
  text-decoration: underline;
}

/*  Home Page Boxes   */

/* Custom boxes for the home page */
.columns-home-main {
    width: 33%;
    min-width: 280px;
    vertical-align: top;
    display: inline-block;
    background-color: #561085;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
  }

  /* Style the of the heading 2 on the homepage in the boxes*/
  .columns-home h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }

  /* Setup a row on the homepage */
  .homepage-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  /* Setup the columns on the homepage */
  .homepage-columns {
    width: 33%;
    min-width: 280px;
    vertical-align: top;
    display: inline-block;
    background-color: #645f5c;
    color: #fff;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #645f5c;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }
  
  /* Style the heading 2 on the homepage in the boxes */
  .homepage-columns h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }
  
  /* Setup image container for the homepage */
  .image-container {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* Style the images on the homepage that are in the image container */
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 3px solid #000000;
    border-radius: 10px;
  }

  /* Music Page Boxes for songs and genres */

  .music-table-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .music-table {
    width: 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3d3c3c;
    color: white;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
    padding: 20px;
  }

  .music-table h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .music-table table {
    width: 100%;
  }

  .music-table table td {
    text-align: center;
  }

  .music-table thead {
    background-color: #645f5c;
    font-weight: bold;
  }

  .music-table th {
    padding: 10px;
    text-align: center;
    color: black;
  }

  /* Style the first column of the table to make it a decent size for the values that are in it */
  .music-table table th:first-child,
  .music-table table td:first-child {
    width: 10%;
    max-width: 50px;
  }

  /* Music page boxes for artists */

  .person-container {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1%;
  }
  
  .person {
    text-align: center;
    margin: 1%;
    flex-basis: calc(33.33% - 2%);
    max-width: calc(33.33% - 2%);
    box-sizing: border-box;
  }
  
  .person:last-child {
    margin-right: 0;
  }
  
  .person img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .person h3 {
    margin-top: 10px;
    text-decoration: none;
    white-space: normal;
  }


/*                                                                                                                               Pie Chart Css              */


  .pie-chart {
    background:
      radial-gradient( /* Gradient for the inside and outside of the pie chart */
        circle closest-side,
        #3d3c3c 0,
        #3d3c3c 69%,
        transparent 69%,
        transparent 100%,
        #3d3c3c 0
      ),
      conic-gradient( /* Gradient for the pie chart items and the percentages for each section to get the correct data */
        #4e79a7 0,
        #4e79a7 31.8%,
        #f28e2c 0,
        #f28e2c 54.5%,
        #e15759 0,
        #e15759 63.6%,
        #76b7b2 0,
        #76b7b2 72.7%,
        #59a14f 0,
        #59a14f 81.8%,
        #edc949 0,
        #edc949 86.3%,
        #af7aa1 0,
        #af7aa1 90.8%,
        #ff9da7 0,
        #ff9da7 95.3%,
        #9c755f 0,
        #9c755f 99.8%
      );
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* Maintain an aspect ratio of 2:1 */
    max-width: 700px;
  }
  
  .pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
  }
  
  .pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    border-radius: 0.2em;
    background: currentColor;
  }
  